<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Agenda de Contatos</title>
    <!-- Adicionando Bootstrap para estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Agenda de Contatos</h1>
        <ul class="list-group">
            {% for nome, contato in contatos.items() %}
                <li class="list-group-item">
                    <strong>Nome:</strong> {{ nome }} <br>
                    <strong>Telefone:</strong> {{ contato['telefone'].replace(';',' - ') }}
                </li>
            {% endfor %}
        </ul>
        <a href="/" class="btn btn-primary mt-3">Voltar ao Painel</a>
    </div>

    <!-- Scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
